<h1>Gig Dashboard</h1>

<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Gig Image</th>
              <th>Gig Title</th>
              <th>Description</th>
              <th>Location</th>
              <th>Event Date</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @gigs.each do |gig| %>
              <tr>
                <td><%= image_tag gig.cover_image.thumb("100x100").url if gig.cover_image_uid %></td>
                <td><%= link_to gig.title, gig %></td>
                <td><%= truncate(gig.description, length: 50) %></td>
                <td><%= gig.location %></td>
                <td><%= gig.date.strftime("%b %d %Y") rescue "Unfilled" %></td>
                <td class="btn btn-default"><%= link_to "View details", gig %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <ul class="pagination"><%= paginate @gigs %></ul>
      </p>
      <p class="btn btn-default"><%= link_to "New Gig", new_gig_path, id: "new_link", remote: true %></p>
    </div>
  </div>
</div> <!-- /container -->
