<h1>Gig Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Gig Title</th>
    </tr>
  </thead>
  <tbody>
    <% @gigs.each do |gig| %>
      <tr>
        <td><%= image_tag gig.cover_image.thumb("100x100").url if gig.cover_image_uid %></td>
        <td><%= gig.title %></td>
        <td>
          <%= link_to "Show", gig %> |
          <%= link_to "Edit", edit_gig_path(gig) %> |
          <%= link_to "Delete", gig, method: :delete, confirm: "Are you sure you want to delete this gig?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<%= paginate @gigs %><br>

<%= link_to "Home", root_path %> |
<%= link_to "New Gig", new_gig_path %>
