<div class="row">
  <div class="col-lg-6">
  <%= form_for @gig, :html => {:multipart => true} do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", rows: "10" %>
    </div>
    <div class="form-group">
      <%= f.label :location %>
      <%= f.select :location, [["Seattle", "Seattle"], ["New York", "New York"]], class: "form-control input-lg" %>
    </div>
        <div class="form-group">
      <%= f.label :genre %>
      <%= f.select :genre, [["Rock", "Rock"], ["Pop", "Rock"], ["Jazz", "Jazz"], ["Alternative", "Alternative"]], class: "form-control" %>
    </div>
        <div class="form-group">
      <%= f.label "Event Date" %>
      <%= f.date_field :date, class: "form-control" %>
    </div>
        <div class="form-group">
      <%= f.file_field :cover_image %>
      <%= f.hidden_field :retained_cover_image %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %><br>

  <p class="btn btn-default"><%= link_to "Back To Dashboard", dashboard_path %></p>
  </div>
</div>
